# re-install node modules with `npm install`
node_modules/

# vite build dir. Generated with `npx vite build`
dist/

# blender backup files
*blend[0-9]

# MacOS's .DS_Store mystery file. 
*.DS_Store
.DS_Store

# Development Environment variables. 
.env.development

# Fed up with monitoring half-ignored .env.development file. Just change mode to charliedev
.env.charliedev

# Obsidian's workspace file tracks what page the obsidian app left on. 
# While we'll only have a few files, syncing this will be problematic later. 
workspace.json