@import url("https://fonts.googleapis.com/css?family=Rancho&effect=3d");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rancho', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-in-out;
}

/* This is the home page style. */
.whole{
    display: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

/* This is the sheep logo style */
.logo{
    width: 250px;
    display: flex;
    align-items: center;
}

.sheepLogo{
    width: 100px;
    height: auto;
    margin: 0;
    border: 0;
    padding: 0;
}

/* This is the navi bar contains buttons */
.navigation{
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:start;
}

.navigation img{
    cursor: pointer;
}

/* This is the pause button */
.pause{
    width: 45px;
    height: auto;
    margin: 0;
    border: 0;
    padding: 10px;
    transition: transform 0.5s ease;
}

@media screen and (min-width: 600px) {
    .pause  {
        width: 70px; 
    }
}
.pause:hover{
    transform: rotate(360deg) scale(1.2);
}

/* This is the setting button */
.setting{
    width: 45px;
    height: auto;
    margin-left: 10px;
    border: 0;
    padding: 10px;
    transition: transform 0.5s ease;
}

@media screen and (min-width: 600px) {
    .setting  {
        width: 70px; 
    }
}

.setting:hover{
    transform: rotate(360deg) scale(1.2);
}

/* This is the exit button */
.exit{
    width: 45px;
    height: auto;
    margin-left: 10px;
    border: 0;
    padding: 10px;
    transition: transform 0.5s ease;
}

@media screen and (min-width: 600px) {
    .exit  {
        width: 70px;
    }
}

.exit:hover{
    transform: rotate(360deg) scale(1.2);
}

/* The header will resize when I resize the window */
@media screen and (max-width: 600px) {
    .logo{
        width: 150px; 
    }
    .title{
        font-size: 1.2em;
    }
    .sheepLogo{
        width:70px;
    }
}

/* This is the music note at the bottom */
.musicNote {
    width: 50px; 
    height: auto; 
    position: fixed;
    bottom: 10px; 
    right: 10px; 
    animation: moveUpDown 2s ease-in-out infinite;
    cursor: pointer;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-20px); 
    }
}

/* This is the tracker of the game */
.tracker{
    width: 100px; 
    height: auto; 
    position: fixed;
    right: 120px; 
    top: 80px; 
}

h3{
    font-size: 2em;
}

@media screen and (max-width: 600px) {
    .tracker{
        right: 55px; 
        top: 50px; 
    }
    h3{
        font-size: 1em;
    }
}


/* ------------------------------------------ */
/* this is the instruction page */
.instruction{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(239, 239, 239, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popIns{
    width: 100%;
    padding: 40px;
}

.welcomeText{
    font-size: 2.5em;
    color: rgb(160, 103, 103);
    text-align: center;
    text-shadow: 3px 3px 5px #feeded, -3px -3px 5px #feeded, 3px -3px 5px #feeded, -3px 3px 5px #feeded;
}

.ins{
    font-size: 1.4em;
    text-align: center;
}

.fun{
    font-size: 1.6em;
    color: rgb(209, 220, 169);
    text-align: center;
}

.btnInstruction-popup{
    width: 100%;
    height: 45px;
    background: rgb(255, 234, 199);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 2em;
    font-weight: 500;
    transition: transform 0.5s ease;
}

.btnInstruction-popup:hover{
    transform: scale(1.2);
}

/* This is the setting board */
.whiteBoard{
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #feeded;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    z-index: 20;
}

.whiteBoard-content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh
}
.white-board-content button {
    width: 20px;
    height: auto; 
}

.hidden {
    display: none;
}

.set {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin: 10px;
  width: 200px;
}

.set:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.set:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.exit1{
    width: 45px;
    height: auto;
    transition: transform 0.5s ease;
    cursor: pointer;
    top: 10px;
    right: 10px;
    position: absolute;
}

@media screen and (min-width: 600px) {
    .exit1  {
        width: 70px;
    }
}

.exit1:hover{
    transform: rotate(360deg) scale(1.2);
}
